/* *{
    outline: 2px solid rgb(100, 23, 23);
} */
body{
    color: black;
}
div.jumbotron h1{
  margin-bottom: none;
  color: rgb(255, 241, 211);
  text-align: center;
}
p.lead{
    color: rgb(255, 241, 211);
text-align: center;
}
h1.display-4{
    font-family: 'Nova Square', cursive;
}
p.lead{
    font-family: 'Nova Square', cursive;
}
p{
    font-family: 'Nova Square', cursive;
    color: rgb(255, 241, 211);
    text-align: center;
}
.jumbotron a{
    font-family: 'Bungee Shade', cursive;
}
section.mid-sec{
    background: rgb(228, 221, 214);
}

div.news{
    background: rgb(106, 184, 214);
}
button.btn.btn-danger{
    font-family: 'Bungee Shade', cursive;
    text-align: center;
}
img{
height: 30vh;
width: auto;
}
a.btn.btn-danger{
    font-family: 'Bungee Shade', cursive;
}
.map{
    background: whitesmoke;
}
.links{
    background: whitesmoke;
}
p.card-text{
    color: black;
}